/* Horizontal Navigation Bar Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff;
  color:#000000
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Makes the image able to be next to the bar -- a flexbox */
.horizontal-container {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
}

